#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* rotate div css */

.rotateDivWrapper{
  width: 80vw;
  overflow:hidden;
  height:20rem;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
}
.rotateDiv { 
  height: 40rem;
  width: 40rem;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: green;
  border-radius: 100%;
  transition: 0.5s ease;
  /* animation: spin 20s linear infinite; */
  gap: 5rem;
  position: relative; 
  bottom: -50%;
}

/* rotating edge elements */ 
.flex-child:nth-child(1){
  transform: rotate(-45deg);
}
.flex-child:nth-child(3){
  transform: rotate(45deg);
}
.flex-child:nth-child(7){
  transform: rotate(-135deg);
}
.flex-child:nth-child(9){
  transform: rotate(135deg);
}


/* rotating middle edge elements */
.flex-child:nth-child(4){
  transform: rotate(-90deg);
}
.flex-child:nth-child(6){
  transform: rotate(90deg);
}


.flex-child {
  background-color: tomato;
  position: relative;
  border-radius: 1rem;

}

/* making middle child transparent */
.flex-child:nth-child(5){
  background-color: transparent;
}


/* raising first row */
.flex-child:nth-child(-n+3){
  top: -50%;
}

/* pulling bottom row down */
.flex-child:nth-child(n+7){
  bottom: -50%;
}

/* pulling left for first column */
.flex-child:nth-child(3n+1){
  left: -50%;
}

/* pulling 3rd column to right */
.flex-child:nth-child(3n+3){
  right:-50%;
}

/* not changing position of edge element  */
.flex-child:nth-child(1),
.flex-child:nth-child(3),
.flex-child:nth-child(7), 
.flex-child:nth-child(9) {
  top: 0%;
  left: 0%;
  right: 0%; 
  bottom: 0%; 
}

/* spin animation */
@keyframes spin { 
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}