/* setting divs apart from center */
#spinningCard2 {
  top: -50%;
}
#spinningCard4 {
  left: -50%;
}
#spinningCard6 {
  left: 50%;
}
#spinningCard8 {
  top: 50%;
}

/* rotating edge divs */
#spinningCard1 {
  transform: rotate(-45deg);
}
#spinningCard3 {
  transform: rotate(45deg);
}
#spinningCard7 {
  transform: rotate(-135deg);
}
#spinningCard9 {
  transform: rotate(135deg);
}
#spinningCard4 {
  transform: rotate(-90deg);
}
#spinningCard6 {
  transform: rotate(90deg);
}
#spinningCard8 {
  transform: rotate(180deg);
}
